@model PBL3.Models.Entities.AccountLogin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountLogin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassHashCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassHashCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Permission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccNameNavigation.AccName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
