@model PBL3.Models.Entities.Republish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Republish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameRepublisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameRepublisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfRep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfRep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfRep)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
