@model PBL3.Models.Entities.Account


<div class="container py-5">
<div class="flex-column">
    <div class="col-lg-12">
        <div class="card-body text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
            class="rounded-circle img-fluid" style="width: 200px;">
        <h5 class="my-3">@Model.FullName</h5>
        </div>
    </div>
    <div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0">Tên tài khoản</p>
            </div>
            <div class="col-sm-9">
            <p class="text-muted mb-0">@Model.AccName</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0">Tên đầy đủ</p>
            </div>
            <div class="col-sm-9">
            <p class="text-muted mb-0">@Model.FullName</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
            <p class="text-muted mb-0">@Model.Email</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0">Số điện thoại</p>
            </div>
            <div class="col-sm-9">
            <p class="text-muted mb-0">@Model.Phone</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0">Ngày sinh</p>
            </div>
            <div class="col-sm-9">
            @if (Model.DateOfBirth != null)
            {
                <p class="text-muted mb-0">@(((DateTime)Model.DateOfBirth).ToString("dd/MM/yyyy"))</p>
            }
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
            <p class="text-muted mb-0">@Model.Mssv</p>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<div class="d-flex justify-content-center">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@ViewBag.id">Chỉnh sửa thông tin</a>
    <a class="btn btn-outline-primary ms-5" asp-action="ChangePassword" asp-route-id = "@ViewBag.id">Đổi mật khẩu</a>
</div>
