@model IEnumerable<PBL3.Models.Entities.NewsFeed>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var html = Markdig.Markdown.ToHtml(item.Content);
            <tr>
            <div class = "card md-4">

            <div class = "row">
                <div class = "col-md-10 ms-3">
                   @Html.Raw(html)
                </div>
                <div class = "col-md-1 float-right">
                <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br>
                <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">PreView</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-link">Delete</button>
                </form>
                </div>
            </div>
            </div>
            <hr>
        </tr>
}
    </tbody>
</table>
<!--Page-->
@Html.Partial("Paging")