@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search Page";
}

@model PBL3.Models.SearchViewModel;

<ul class="nav nav-pills">  
  <li class="nav-item ">  
    <a class="nav-link active rounded-0" id ="Titles" data-toggle="pill" href="#home" onclick = "Enable1()">Titles</a>  
  </li>  
  <li class="nav-item">  
    <a class="nav-link rounded-0" id = "AccNames" data-toggle="pill" href="#menu1" onclick = "Enable2()">AccNames</a>  
  </li>   
</ul>  
<div class="tab-content">  
    <div class="tab-pane container active p-0" id="home">  
        <h5 class="text-uppercase p-2 text-center">List of Books</h5>  
        <table class="table table-bordered table-striped">  
            <thead class="thead-dark text-dark">  
                <tr>  
                    <th>Id</th>  
                    <th>Tên đầu sách</th>  
                    <th>Tên tác giả</th>  
                    <th>Kệ sách</th>  
                    <th>Năm xuất bản</th>  
                </tr>  
            </thead>  
            <tbody>  
                @foreach (var title in Model.Titles)
                {  
                        <tr>  
                            <td>@title.IdTitle</td>  
                            <td>@title.NameBook</td>  
                            <td>@title.NameWriter</td>  
                            <td>@title.NameBookshelf</td>  
                            <td>@title.ReleaseYear</td>
                            <td>
                                <a asp-controller="Titles" asp-action="Details" asp-route-id="@title.IdTitle">Detail</a>
                                @if (!User.IsInRole("User") && User.Identity.IsAuthenticated)
                                {                     
                                    <a asp-controller = "Titles" asp-action="Edit" asp-route-id="@title.IdTitle">Edit</a>
                                    <a asp-controller = "Titles" asp-action="Delete" asp-route-id="@title.IdTitle">Delete</a>
                                }
                            </td>
                        </tr>  
                }  
            </tbody>  
        </table>  
    </div>
    <div class="tab-pane container fade p-0" id="menu1">  
        <h5 class="text-uppercase p-2 text-center">List of Accounts</h5>  
        <table class="table table-bordered table-striped">  
            <thead class="thead-dark text-dark">  
                <tr>  
                    <th>Mã số sinh viên</th>  
                    <th>Tên tài khoản</th>  
                    <th>Số điện thoại</th>
                    <th>Email</th> 
                    <th>Ngày sinh</th> 
                </tr>  
            </thead>  
            <tbody>  
                @foreach (var Account in Model.Accounts)
                {  
                        <tr>  
                            <td>@Account.Mssv</td>  
                            <td>@Account.AccName</td>  
                            <td>@Account.Phone</td> 
                            <td>@Account.Email</td>
                            <td>@Account.DateOfBirth</td> 
                        </tr>  
                }  
            </tbody>  
        </table>  
    </div>  
</div>  