@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search Page";
}

@model IEnumerable<PBL3.Models.Entities.Title>

<div class="text-center">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">PBL3</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AccountLogins" asp-action="Index">Title</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Index">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ActionLogs" asp-action="Index">Rentals</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameWriter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameBookshelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRepublishNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.NameBook)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.NameWriter)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.NameBookshelf)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.IdRepublishNavigation.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdTitle">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdTitle">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdTitle">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>


