@using PBL3.Data;
@model IEnumerable<PBL3.Models.Entities.Account>

@{
    ViewData["Title"] = "Quản lý tài khoản";
}

<h1>Quản lý tài khoản</h1>


<div class="row">
    @if (User.IsInRole(UserRole.Admin))
    {        
    <a asp-action="Create" class="btn btn-success btn-icon-split ml-2" >
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Tạo tài khoản mới</span>
        </a>
    }
    else
    {
        <a asp-action="Create" class="btn btn-success btn-icon-split ml-2" style="pointer-events:none;cursor:default;">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Tạo tài khoản mới</span>
        </a>
    }
</div>

<h3 class="text-uppercase p-2 text-center">@ViewBag.Head</h3>
<table class="table table-bordered table-striped">
    <thead class="thead-dark text-dark">
        <tr>
            <th>Tên tài khoản</th>
            <th>Tên đầy đủ</th>
            <th>Ngày sinh</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            @if (ViewBag.Type == "User")
            {
                <th>Mã sinh viên</th>
            }           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model)
        {
            <tr>
                <td><a asp-controller="Account" asp-action="Detail" asp-route-id="@acc.AccName">@acc.AccName</a></td>
                <td>@acc.FullName</td>
                @if (acc.DateOfBirth != null)
                {
                <td>@(((DateTime)acc.DateOfBirth).ToString("dd/MM/yyyy"))</td>                    
                }
                else {<td></td>}
                <td>@acc.Phone</td>
                <td>@acc.Email</td>
                @if (ViewBag.Type == "User")
                {
                    <th>@acc.Mssv</th>
                }
                <td>
                    @if (!User.IsInRole("User") && User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Edit" asp-route-id="@acc.AccName">
                            <i class="fas fa-edit"></i>
                        </a>
                        @if (acc.Active == true)
                        {             
                            @if(User.IsInRole(UserRole.Admin)){

                                <span>|</span>
                                    <a style="color: red" asp-controller="Accounts" asp-action="Delete" asp-route-id="@acc.AccName">
                                    <i class="fas fa-trash"></i>
                                </a>
                            }
                            @if (ViewBag.Type == "User")
                            {                                
                                <span>|</span>
                                <a asp-controller="RentBook" asp-action="UserRentals" asp-route-accName="@acc.AccName">
                                    <i class="fas fa-book"></i>
                                </a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("Paging")