@using PBL3.Models.Entities
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h3 class="text-uppercase p-2 text-center">Danh sách đơn mượn hệ thống</h3>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active rounded-0" id="Pending" data-toggle="pill" href="#Pending-Table" onclick="On1()">Chờ phê duyệt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0" id="WaitingTake" data-toggle="pill" href="#WaitingTake-Table" onclick="On2()">Đang chờ lấy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-0" id="WaitingReturn" data-toggle="pill" href="#WaitingReturn-Table" onclick="On3()">Đang diễn ra</a>
            </li>
        </ul>
        <br />

        <div style="width: 30%; float: right">
            <form method="get" asp-action="Index">
                <div class="mb-3">
                    <label class="control-label">Lọc theo người gửi</label>
                    <input type="text" name="filter" value="@ViewBag.Filter" data-bind="text"/>
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                
            </form>
        </div>

        <div class="tab-content">

            <div class="tab-pane container-fluid active" id="Pending-Table">
                <h5 class="text-uppercase p-2 text-center">Danh sách chờ duyệt</h5>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark text-dark">
                        <tr>
                            <th></th>
                            <th>Mã đơn mượn</th>
                            <th>Người gửi</th>
                            <th>Thời gian gửi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BookRental bookRental in ViewBag.Pending)
                        {
                            <tr class="align-content-center">
                                <td>
                                    <a asp-action="Details" asp-route-id="@bookRental.Id" asp-route-type="1" class="btn btn-outline-secondary btn-circle">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </td>
                                <td style="padding:20px">@bookRental.Id</td>
                                <td style="padding:20px">@bookRental.AccSending</td>
                                <td style="padding:20px">@bookRental.TimeCreate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane container-fluid fade" id="WaitingTake-Table">
                <h5 class="text-uppercase p-2 text-center">Danh sách chờ lấy đơn</h5>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark text-dark">
                        <tr>
                            <th></th>
                            <th>Mã đơn mượn</th>
                            <th>Người gửi</th>
                            <th>Người phê duyệt</th>
                            <th>Thời gian duyệt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BookRental bookRental in ViewBag.WaitingTake)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@bookRental.Id" asp-route-type="2" class="btn btn-outline-secondary btn-circle">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </td>
                                <td style="padding:20px">@bookRental.Id</td>
                                <td style="padding:20px">@bookRental.AccSending</td>
                                <td style="padding:20px">@bookRental.AccApprove</td>
                                <td style="padding:20px">@bookRental.TimeApprove</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="tab-pane container-fluid fade" id="WaitingReturn-Table">
                <h5 class="text-uppercase p-2 text-center">Danh sách đơn đang diễn ra</h5>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark text-dark">
                        <tr>
                            <th></th>
                            <th>Mã đơn mượn</th>
                            <th>Người gửi</th>
                            <th>Người phê duyệt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BookRental bookRental in ViewBag.WaitingReturn)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@bookRental.Id" asp-route-type="3" class="btn btn-outline-secondary btn-circle">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </td>
                                <td style="padding:20px">@bookRental.Id</td>
                                <td style="padding:20px">@bookRental.AccSending</td>
                                <td style="padding:20px">@bookRental.AccApprove</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>