@model PBL3.Models.Entities.Title

@{
    ViewData["Title"] = "Delete";
}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="text-uppercase p-2 text-center">Xoá đầu sách</h3>
                <p class="text-center">
                    Việc xoá đầu sách đồng nghĩa với xoá tất cả sách trong đầu sách.
                    <br />
                    Để tránh lỗi quản lý, hãy đảm bảo rằng tất cả sách được thu hồi.
                </p>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-6 text-right">
                        Tên sách:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameBook)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Tên tác giả:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameWriter)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Năm xuất bản:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.ReleaseYear)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Nhà xuất bản:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Publisher)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Kệ sách:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameBookshelf)
                    </dd>
                </dl>
            </div>

            <div class="text-center">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdTitle" />
                    <input type="submit" value="Xác nhận xoá" class="btn btn-danger" style="width:200px;" />
                </form>
            </div>
            <br />
            <div class="text-center">
                <a asp-action="Index" class="btn btn-light text-center" style="width:200px">
                    <i class="fas fa-arrow-left fa-fw"></i>
                    Quay lại
                </a>
            </div>
            <br />
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
