@model PBL3.Models.Entities.Title

@{
    ViewData["Title"] = "Delete";
}

<h1>Xoá đầu sách</h1>

<h3>Bạn chắc chắn muốn xoá đầu sách này?</h3
<br />
<h3>Việc xoá đầu sách đồng nghĩa với xoá tất cả sách trong đầu sách.
    Để tránh lỗi quản lý, hãy đảm bảo rằng tất cả sách được thu hồi.
</h3>
<div>
    <h4>Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameBook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameBook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameWriter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameWriter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameBookshelf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameBookshelf)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTitle" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
