@model PBL3.Models.Entities.Title

@{
    ViewData["Title"] = "Details";
}
@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
}

@if (ViewData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @ViewData["AlertType"] hide" role="alert">
        @ViewData["AlertMessage"]
    </div>
}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                Thông tin chi tiết đầu sách
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-6 text-right">
                        Tên sách:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameBook)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Tên tác giả:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameWriter)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Năm xuất bản:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.ReleaseYear)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Nhà xuất bản:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Publisher)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Kệ sách:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameBookshelf)
                    </dd>
                </dl>
            </div>

            <div class="text-center">
                @if (!User.IsInRole("User") && User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@Model.IdTitle" class="btn btn-primary" style="width:200px">
                        <i class="text-white-50 fas fa-edit fa-align-left"></i>
                        Chỉnh sửa
                    </a>
                }
                else
                {
                    <a asp-controller="RentBook" asp-action="AddToRental" asp-route-id="@Model.IdTitle" class="btn btn-primary" style="width:200px">
                        <i class="text-white-50 fas fa-address-book fa-align-left"></i>
                        Thêm vào đơn mượn
                    </a>
                }
                <br />
                <br />
                <a asp-action="Index" class="btn btn-light text-center" style="width:200px">
                    <i class="fas fa-arrow-left fa-fw"></i>
                    Quay lại
                </a>
            </div>
            <br />
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
