@model PBL3.Models.Entities.Title
@using PBL3.Models.Entities;
@{
    ViewData["Title"] = "Details";
}
@section scripts{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });

    </script>
}

@if (ViewData["AlertMessage"] != null)
{
    <div id="AlertBox" class="alert @ViewData["AlertType"] hide" role="alert">
        @ViewData["AlertMessage"]
    </div>
}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                Thông tin chi tiết đầu sách
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-6 text-right">
                        Tên sách:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameBook)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Tên tác giả:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameWriter)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Năm xuất bản:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.ReleaseYear)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Nhà xuất bản:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Publisher)
                    </dd>
                    <dt class="col-sm-6 text-right">
                        Kệ sách:
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.NameBookshelf)
                    </dd>
                </dl>
            </div>

            <div class="text-center">
                @if (!User.IsInRole("User") && User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@Model.IdTitle" class="btn btn-primary" style="width:200px">
                        <i class="text-white-50 fas fa-edit fa-align-left"></i>
                        Chỉnh sửa
                    </a>
                }
                else if (User.IsInRole("User") && User.Identity.IsAuthenticated)
                {
                    <a asp-controller="RentBook" asp-action="AddToRental" asp-route-id="@Model.IdTitle" class="btn btn-primary" style="width:200px">
                        <i class="text-white-50 fas fa-address-book fa-align-left"></i>
                        Thêm vào đơn mượn
                    </a>
                }
                <br />
                <br />
                <a asp-action="Index" class="btn btn-light text-center" style="width:200px">
                    <i class="fas fa-arrow-left fa-fw"></i>
                    Quay lại
                </a>
            </div>
            <br />
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>

@if (User.Identity.IsAuthenticated && !User.IsInRole("User"))
{
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 class="text-uppercase p-2 text-center">Danh mục sách thuộc về đầu sách này</h3>
            <br>
            <table class="table table-borderless">
                <thead class="thead-light text-light">
                    <tr>
                        <th>Mã sách</th>
                        <th>Trạng thái vận hành</th>
                        <th>Trạng thái mượn</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Book b in ViewBag.BookList)
                    {
                        <tr>
                            <td>@b.IdBook</td>
                            @if(b.Active == true)
                            {
                                <td>Hoạt động</td>
                                @if (b.StateRent == true)
                                {
                                    <td style="color: lightgray">Đang mượn</td>
                                }
                                else
                                {
                                    <td>Có sẵn</td>
                                }
                                <td>
                                    <a style="color: red" class="text-decoration-underline" asp-action="ConfirmLost" asp-route-idDetail=@b.IdBook>Báo mất</a>
                                </td>
                            }
                            else
                            {
                                <td style="color: red">Thất lạc</td>
                                <td style="color: red">----</td>
                                <td> 
                                    <a style="color: dodgerblue" class="text-decoration-underline" asp-action="ConfirmFound" asp-route-idDetail=@b.IdBook>Tìm thấy</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
}
