@model IEnumerable<PBL3.Models.Entities.Title>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (!User.IsInRole("User") && User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Tạo đầu sách mới</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameWriter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameBookshelf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameWriter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameBookshelf)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdTitle">Details</a> 

                    @if (!User.IsInRole("User") && User.Identity.IsAuthenticated)
                    {                        
                        <a asp-action="Edit" asp-route-id="@item.IdTitle">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.IdTitle">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
