@model IEnumerable<PBL3.Models.Entities.BookRentDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateApprove)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateTake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBookNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBookRentalNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateReturn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateApprove)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateTake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBookNavigation.IdBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBookRentalNavigation.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
